@page "/game_industry"

<div class="row">
	<div class="col text-center">
		<h1>Welcome to our Game Industry page</h1>
	</div>
</div>

<div class="row">
	<div class="col text-center">
		<h2>Show all games in MOCK Database:</h2>
	</div>
</div>

<GameIndustryTable />
