@page "/game_industry"

<div class="row">
	<div class="col text-center">
		<h1>Welcome to our Game Industry page</h1>
	</div>
</div>

<div class="row">
	<div class="col text-center">
		<h2>Show all games in MOCK Database:</h2>
	</div>
</div>

<GameIndustryTable Games="games" />

@code{
	private List<Game> games;

	protected override void OnInitialized()
	{
		games = new List<Game>()
		{
			new Game()
			{
				Name = "AAA",
				Genre = "aaa",
				ReleaseDate = new DateTime(2021, 11, 11)
			},
			new Game()
			{
				Name = "BBB",
				Genre = "bbb",
				ReleaseDate = new DateTime(2011, 9, 11)
			},
			new Game()
			{
				Name = "CCC",
				Genre = "ccc",
				ReleaseDate = new DateTime(2001, 7, 11)
			}
		};
	}
}