<div class="table-responsive">
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th>Name</th>
				<th>Genre</th>
				<th>Release Date</th>
				<th>
					<input type="checkbox" @onchange="(() => displayButtons = !displayButtons)"/>
					<input type="checkbox" @bind="displayButtons"/>
				</th>
			</tr>
		</thead>
		<tbody>
			@if (Games == null)
			{
				<tr>Searching datas...</tr>
			}
			else if(Games.Count == 0)
			{
				<tr>No datas(</tr>
			}
			else
			{
				@foreach (var game in Games)
				{
					@*<tr>
						<td>@game.Name</td>
						<td>@game.Genre</td>
						<td>@game.ReleaseDate.ToString("dd.MM.yyyy")</td>
					</tr>*@

					<IndividualGame Game="game" IsTable=true DisplayButtons=displayButtons DeleteGame="DeleteTheGame"/>
				}
			}
			
		</tbody>
	</table>
</div>

@code {
	[Parameter]public List<Game> Games { get; set; }
	private bool displayButtons = false;

	void DeleteTheGame(Game game)
	{
		Games.Remove(game);
	}
}
